{% load static %}
{% for item in itens %}
<div class="col-lg-4 ">
    <div class="card gallery-item h-100" style="width: 18rem;">
        <img src="{{ item.path.url }}" class="img-fluid card-img-top" alt="{{ item.name }}">
        <div class="card-body text-center">
          <h1 class="card-title"><strong>{{item.name}}</strong></h1>
          <b><strong>Preço: {{item.price}}</strong></b>
          <p class="card-text"><strong>{{item.descript}}</strong></p>
        </div>
    </div>
</div>
{% endfor %}



